body {
  margin-left: 7%;
  padding-left: 5%;
  width: 80%;
  max-width: 700px;
  background-color: #aaa;
  color: #003333; 
  font-family: "Helvetica Neue",Helvetica, Arial, Verdana, Lucida, Times, sans-serif;
  font-size:14px
}

#ts_blurb{
	font-style:italic;
}

#skills_statement .rating{
	font-style:italic;	
}