body {
  margin-left: 7%;
  padding-left: 5%;
  width: 80%;
  max-width: 700px;
  background-color: #aaa;
  color: #000; 
  font-family: "Helvetica Neue",Helvetica, Arial, Verdana, Lucida, Times, sans-serif;
  font-size:14px
}

/* Formatting technical skills*/
#ts_blurb{
	font-style:italic;
}

/* Formating the Work Section*/
#skills_statement .rating{
	font-style:italic;	
}

p.employer_and_dates .employer{
/*	font-weight: bold;*/
}

p.employer_and_dates span.role{
	font-style: italic;
}

p.employer_and_dates span.dates{
	font-weight: bold;
}

/*Formatting education*/

.major_styling, .minor_styling, .dates_styling
{
/*	font-weight:bold;*/
	font-style:italic;
}

.major, .minor, .dates
{
/*	font-style:italic;*/
}

div.projblock .projname_label, .est_label, .category_label, .lang_label
{
		font-weight: bold;
}
