	Body {
          margin-left: 7%;
          padding-left: 5%;
          width: 80%;
          max-width: 700px;
          background-color: #fffffa;
          color: #333;
          font-family: "Helvetica Neue",Helvetica, Arial, Verdana, Lucida, Times, sans-serif;
          font-size:14px
        }

        BODY { 
          background-color: #aaa; 
          color: #003333; 
        } 

        H1.name {
          text-align: center;
          font:  150% arial;
          font-size:24px;
          color: #eee;
          padding-bottom: 3px;
        } 

        H1.majordivisions {
          text-align: left;
          font:  150% arial;
          font-size:24px;
          color: #eee;
          padding-bottom: 3px;
        } 

        P {     
          margin: 0px;
          padding: 1px; 
        }

        .skillblockbox{
           padding: 5px 0px 5px 0px;
        }

        .skillblockbox li{
          line-height: 1.5525em;
          font-size:  14px;
        }
                
        .centerbox {
          background-color:#CCCCCC;
          border:1px solid #eee;
          border-width:2px 2px 2px 2px;
          text-align:center;
          padding-bottom: 3px;
          padding-right: 3px;
          padding: 3px;
        }
				
				.centerbox h1 {
					font-size: 12pt;
					color: #FFF;
          font:  150% arial;
          font-size:24px;

				}
				
				.centerbox p.aag {
					line-height: 1.2em;
					text-align: justify;
					padding: 5px 1px;
				}
				
				.centerbox ul.outer{
					text-align:left;
					list-style-type: upper-roman;
				}
				
				.centerbox ul.inner{
					text-align: left;
					list-style-type: none;
				}
				
        .leftbox {
          background-color:#CCCCCC;
          border:1px solid #eee;
          border-width:2px 2px 2px 2px;
          text-align:left;
          padding-bottom: 3px;
          padding-right: 3px;
          padding: 3px;
        }

        .leftbox-borderless {
          background-color:#CCCCCC;
          text-align:left;
          padding-bottom: 3px;
          padding-right: 3px;
          padding: 5px;
          margin-bottom: 10px;
        }

        .headingsubsection{
          background-color:#CCCCCC;
          border:1px solid #eee;
          border-width:2px 2px 2px 2px;
          text-align:left;
          padding-bottom: 1px;
          padding-right: 25px;
          border-top-style: solid;
          margin-bottom: 20px;
        }
        .sectionhead{
          background-color:#CCCCCC;
          border:1px solid #eee;
          border-width:2px 2px 0px 2px;
          text-align:left;
          text-decoration:none;
          padding-bottom: 0px;
          padding-right: 3px;
          padding: 3px;
          margin-right: 60%;
          font-size: 18px;
          fost-style: bold;
        }
        div#address_div{
          margin-bottom:10px;
        }
        div#personal_statement{
          margin-bottom:20px;
        }
